.container {    margin-top: 100px;
    margin-right:0;   
    text-align:center;
    font-weight: bolder
}
h1 {font-size:100px;
text-align:center;
text-shadow: 1px 1px #D2312D, 
   2px 2px #D2312D, 
   3px 3px #D2312D, 
   4px 4px #D2312D, 
   5px 5px #D2312D, 
   6px 6px #D2312D;
font-family:'Bangers', cursive;

}
.form-control {    width: 500px;
    box-shadow: 3px 5px #D2312D;
    font-family:helvetica;
    margin: 0 auto;}
button {    width: 150px;
    margin-left: -170px;}
.btn{background-color:#4BD5E7;
border-style:none;
color:black;
box-shadow:1px 5px 5px #D2312D;

}
.btn:hover{background-color:#4BD5E7;
color:white;
box-shadow:1px 5px  #4BD5E7;

}
.btn:enabled{background-color:#D2312D

}

body {background-color:#2DCED2;
font-family:'Bangers', cursive;


}

#textbox {

margin-right: 0 auto;
width: 40%;
height: 40%;
text-align: center;
margin: 0 auto;
background-color: inherit;

}
.modal {padding:100px;
font-weight: bolder;
background-color:#DB5A57;
opacity:.8
}


img {margin-bottom: 5%;
    height:250px;
    width:250px;}


#title {text-decoration: underline;

}

#big-container{
margin-top:100px;
}

.get-to-the-gig .letter {
    display: inline-block;
    }

#alert {
color:red;
text-align:center;


}


