html, body {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
}
.header {
    text-align: center;
    background-color: maroon;
    color: white;
    padding: 50px 0px;
    font-family: Arial, Helvetica, sans-serif;
}
.container {
    text-align: center;
    flex: 1 0 auto;
}
#searched-artist {
    text-align: left;
}
.events-label {
    border-bottom: solid black 3px;
    border-right: solid black 3px;
}
.links-label {
    border-bottom: solid black 3px;
    border-left: solid black 3px;
}
#events-results {
    text-align: left;
}
#links-results {
    text-align: left;
}
footer {
    flex-shrink: 0;
    background-color: #666666;
    color: white;
    text-align: center;
    border-top: solid 6px maroon;
    padding: 10px 0px;
}
body {
    padding: 20px;
}
#search-form, .form-control {
    margin-bottom: 20px;
}
.cover {
    width: 300px;
    height: 300px;
    display: inline-block;
    background-size: cover;
}
.cover:hover {
    cursor: pointer;
}
.cover.playing {
    border: 5px solid #e45343;
}
